/* Footer-section Start  */

#Footer-Section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 38px 150px;
    background-color: rgba(13, 19, 33, 0.03);;
}
#Footer-Section>h1{
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}
#Footer-social-icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

/* Footer-section End  */