@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;

}
body{

    max-width: auto;
    font-family: "Azeret Mono", monospace;
}

.Dark-1{
    color: rgb(13, 19, 33);
}
.Dark-2{
    color: rgb(129, 132, 137);
}

/* Navber Section Start  */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 38px 150px; */
    margin: 0 200px;
    background: white;
}
nav>h1{
    font-size: 28px;
    font-weight: 800;
    
}
.btn-primary{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    align-items: center;
    padding:17px 24px  ;
}

/* Navber Section End  */

main{
    max-width:auto;
    margin: 30px auto;
}

/* Hero-Section Start  */

#Hero-Section{
    background-image: url(./assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}
#Hero-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 60px 250px;
}
.Hero-content-tittle{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}
.Hero-content-p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    padding: 15px ;
    
}
.btn-secondary{
    font-size: 20px;
    font-weight: 600;
    padding: 18px 24px;
    border-radius: 8px;
    color: white;
    background: rgb(13, 19, 33);
    
}

/* Hero-Section End  */

/* All Section Tittle Style Start */

.Section-tittle>h1{
    padding-bottom:25px ;
    font-size: 32px;
    font-weight: 800;
}
.Section-tittle{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    line-height: 32px;
}
.Section-tittle>p{
    font-size: 16px;
    font-weight: 400;
}

/* All Section Tittle Style End  */


/* About Section Start  */
#About-section{
    padding:80px;
    background-color: white;
    margin: 70px 110px;
   
}
#About-maindiv{
    display: grid;
    gap: 2%;
    padding: 70px 70px 150px 70px;
    background-color:rgba(13, 19, 33, 0.03);
}

.About-1,.About-3{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48px 30px;
    gap: 5%;
    background-color: white;
    box-sizing: border-box;
    border-radius: 15px;
    margin:0px 32px;
}
.About-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48px 20px 48px 20px;
    gap:4%;
    background-color: white;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 30px;
}
.About-1-text>h3{
    font-size: 28px;
    font-weight: 700; 
   
}
.About-1-text{
    line-height:36px;
}
.About-1-text>p{
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0px;
}


/* About Section End  */


/* Inspiration Section Start  */

#Iframe-Div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 180px;
    padding: 32px 0px;
    border-radius:18px; 
    background-color: #faf9f9;
}
#Iframe-Div>iframe{
    box-sizing: border-box;
    border-radius:16px; 
   
}



/* Inspiration Section End */


/* Current-Target Section Start  */
#Current-Target-Section{
    margin: 100px 150px;
}
.Card{
    box-sizing: border-box;
    border-radius: 10px;
    padding:30px 15px;
    width: 299px;
    height: 350px;
    
}
.CardImg{
    padding-bottom: 25px;
}
.Card-body{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.Card-body>p{
    font-size: 16px;
    font-weight: 400;
    /* line-height: 28px; */
}
.Card-body>a{
    font-size: 16px;
    font-weight: 700;
}
.Card-1{
    background-color: rgba(255, 76, 30, 0.05);
}
.Card-2{
    background-color: rgba(0, 76, 232, 0.05);
}
.Card-3{
    background-color:rgba(255, 223, 0, 0.05);
}
#Card-Div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    margin-top: 48px;
}
/* Current-Target Section End  */





/* Next-Target Section Start  */

#Next-Target-Section{
    margin: 40px 135px;

}


#Card-Div-2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
}
.Cards{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    margin: 10px 0px;

}
.Card-Img{

    display: flex;
    flex-direction: row;
    /* gap: 30px; */
    justify-content: center;
    align-items: center;

}


/* Next-Target Section End  */


/* support-section start  */

#support-section{
    background-image: url(./assets/handshake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    margin: 70px 170px;
    border-radius: 10px;
}
#support-section-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    line-height: 80px;
    padding: 80px 100px;
    color: #ffffff;
}
.support-section-content-tittle{
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
}
.support-section-content-p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    padding: 25px 15px;
    
}
.btn{
    font-size: 20px;
    font-weight: 600;
    padding: 16px 24px;
    border-radius: 8px;
    color: rgb(7, 7, 7);
    background: rgb(254, 254, 254);
    border: none;
}
.InputValue{
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    width: 548px;
    height: 57px;
    padding: 0px 20px;
    border: none;
    border-radius: 10px;
}


/* support-section end  */





/* Footer-section Start  */

#Footer-Section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 38px 150px;
    background-color: rgba(13, 19, 33, 0.03);;
}
#Footer-Section>h1{
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}
#Footer-social-icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

/* Footer-section End  */